body{
  background-color: black;
  height: 1300px;
}

/* .container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: green;
  width: 100vw;
  height: 100%;
  padding-top: 50px;
} */
.container{
  position: absolute;
  background-color: darkblue;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  justify-content: space-evenly center;
  width: 1050px;
  height: 1050px;
  margin-top: 100px;
  left: calc(50% - 546px);
  padding: 20px;
}

.circle{
  margin: 10px;
  background-color: orangered;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  animation-name: changecolor1;
  animation-duration: 6s;
  animation-iteration-count: 1;
}

.circle1{
  margin: 10px;
  background-color: #FF5733;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  animation-name: changecolor2;
  animation-duration: 6s;
  animation-iteration-count: 1;
}

.circle2{
  margin: 10px;
  background-color: #FF6D4E;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  animation-name: changecolor3;
  animation-duration: 6s;
  animation-iteration-count: 1;
}

.circle3{
  margin: 10px;
  background-color: #FF846A;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  animation-name: changecolor4;
  animation-duration: 6s;
  animation-iteration-count: 1;
}

.circle4{
  margin: 10px;
  background-color: #EB2A00;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  animation-name: changecolor5;
  animation-duration: 6s;
  animation-iteration-count: 1;
}

.triangle{
  margin: 13px;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 120px solid #EB2A00;
  /* animation-name: changecolor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

@keyframes changecolor1 {
  0% {background-color: orangered;}
  20% {background-color: orangered;}
  100% {background-color: darkblue;}
}

@keyframes changecolor2 {
  0% {background-color: #FF5733;}
  20% {background-color: #FF5733;}
  100% {background-color: darkblue;}
}

@keyframes changecolor3 {
  0% {background-color: #FF6D4E;}
  20% {background-color: #FF6D4E;}
  100% {background-color: darkblue;}
}

@keyframes changecolor4 {
  0% {background-color: #FF846A;}
  20% {background-color: #FF846A;}
  100% {background-color: darkblue;}
}

@keyframes changecolor5 {
  0% {background-color: #EB2A00;}
  20% {background-color: #EB2A00;}
  100% {background-color: darkblue;}
}
