body{
  background-color: black;
  color: blue;
}

h1{
  margin-top: 0px;
  text-align: center;
  font-size: 5rem;
}

.style{
  text-align: center;
  font-size: 1.3rem;
  margin-top: -20px;
}

.triangle{
  margin-top: 250px;
  margin-left: calc(50% - 65px);
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 120px solid #EB2A00;
  animation-name: changecolor;
  animation-duration: 4s;
}

@keyframes changecolor {
  0% {border-left: 60px solid transparent; border-right: 60px solid transparent; border-bottom: 120px solid black;}
  30% {border-left: 60px solid transparent; border-right: 60px solid transparent; border-bottom: 120px solid black;}
  100% {border-left: 60px solid transparent; border-right: 60px solid transparent; border-bottom: 120px solid #EB2A00;}
}
